{{#page-header title='Demo' description='Let\'s put our heads together and fluff our feathers'}}

    <div class="row">
        <div class='col-md-12'>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link{{if (eq tab 0) ' active' ''}}" href="#" {{action 'selectTab' 0}}>Intro</a></li>
                <li class="nav-item"><a class="nav-link{{if (eq tab 1) ' active' ''}}" href="#" {{action 'selectTab' 1}}>Compare Results</a></li>
                <li class="nav-item"><a class="nav-link{{if (eq tab 2) ' active' ''}}" href="#" {{action 'selectTab' 2}}>About</a></li>
            </ul>
        </div>
    </div>

    {{#if (eq tab 0)}}

        <p class="lead">Some text goes here</p>

        <div class="row">
            <div class="col-md-9 with-border">
                <h2>Bestuur en ondersteuning</h2>
                <input type="range" name="BestuurEnOndersteuning" value="10">

                <h2>Veiligheid</h2>
                <input type="range" name="Veiligheid" value="50">

                <h2>Verkeer, vervoer en waterstaat</h2>
                <input type="range" name="VerkeerVervoerWaterstaat" value="12">

                <h2>Economie</h2>
                <input type="range" name="Economie" value="34">

                <h2>Onderwijs</h2>
                <input type="range" name="Onderwijs" value="10">

                <h2>Sport, cultuur en recreatie</h2>
                <input type="range" name="SportCultuurRecreatie" value="78">

                <h2>Sociaal domein</h2>
                <input type="range" name="SociaalDomein" value="20">

                <h2>Volksgezondheid en milieu</h2>
                <input type="range" name="VolksgezondheidMilieu" value="90">

                <h2>Volkshuisvesting, ruimtelijke ordening en stedelijke vernieuwing</h2>
                <input type="range" name="Volkshuisvesting" value="30">
            </div>
            <div class="col-md-3 with-border">
                <img src="assets/images/pie-chart.png"/>
            </div>
        </div>

    {{else if (eq tab 1)}}

        <p class="lead">Some text goes here</p>

        <div class="row">
            <div class="col-md-9 with-border">
                <img src="assets/images/vote.png"/>
            </div>

            <div class="col-md-3 with-border">
                <img src="assets/images/pie-chart.png"/>
            </div>
        </div>

    {{else if (eq tab 2)}}

        <p class="lead">Some text goes here</p>

    {{/if}}

{{/page-header}}
