{{#page-header title='Governments' description='List of government bodies by kind'}}
    {{#if governments.length}}
        <p>Found {{filteredGovernments.length}} {{plural-of kind kinds.length}}.</p>
        <form>
            <div class="form-group">
                <label for="select-kind">Kind:</label>
                {{#x-select value=kind id="select-kind" class="custom-select" action="selectKind" as |xs|}}
                    {{#each kinds as |kind|}}
                        {{#xs.option value=kind}}{{format-option kind}}{{/xs.option}}
                    {{/each}}
                {{/x-select}}
            </div>
        </form>

        {{models-table
            data=filteredGovernments
            columns=columns
            columnsAreUpdateable=true
            filteringIgnoreCase=true
            showColumnsDropdown=false
            showGlobalFilter=false
            customIcons=icons
            simplePaginationTemplate="components/models-table/simple-pagination"
            componentFooterTemplate="components/models-table/component-footer"
            pageSizeTemplate="components/models-table/page-size"

        }}
    {{else}}
        <p>No governments found.</p>
    {{/if}}
{{/page-header}}
